
Theme Name: The Relationship Warehouse
Theme URI: http://phlox.pro/
description:
  Phlox Child Theme
Author: Lori Mitchell
Author URI: http://lorimitchell.tech
Template: phlox
Version: 1.0.0
Tags: light, dark, one-columns, responsive-layout, accessibility-ready
Text Domain: phlox-child
*/


#site-header {
    color: #0a1612;
}

#main {
    color: #0a1612;
}

.aux-full-width #inner-body {
    overflow-x: unset;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

section {
    margin: 0 auto 70px auto;
}

.main-content {
    max-width: 1000px;
    padding: 20px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/**********************      Home      *********************/
/* #home {
    margin: 0 auto;
} */

.home-hero-container {
    position: relative;
}

.home-hero-img {
    background-image: url('../../uploads/2018/09/homeHero.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    opacity: .9;
    height: 600px;
}

.home-tag-line {
    font-size: 2rem;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: 400;
    line-height: 1.15;
    width: 100%;
}

.home-who-we-are-container {
    text-align: center;
    margin-top: 5%;
}

.home-who-we-are-tag-line {
    width: 80%;
    margin: auto;
    margin: 5% auto 3% auto;
    line-height: initial;
}

.home-who-we-are-container .who-we-are-tag-words {
    font-weight: 500;
    font-size: 1.4rem;
}

.who-we-are-list li {
    list-style: none;
    font-size: 18px;
}

.home-get-started-container {
    margin: 5% 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
}

.home-get-started {
    background-color: #fafaf9;
    padding: 25px;
    width: 25%;
}

.home-get-started a {
    color: #0a1612;
}

.home-get-started:nth-child(3):hover {
    opacity: .7;
}

.home-get-started h3 {
    margin-bottom: 10px;
    line-height: 1;
}

.home-get-started p {
    margin: 0;
}

.home-icon {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.home-quote-icon {
    height: 48px;
    width: 48px;
    margin-bottom: 20px;
    font-size: 3.5rem;
}

.quote-rotate {
    transform: rotate(180deg);
}

.home-testimonial-container {
    text-align: center;
    width: 80%;
    margin: auto;
    font-size: 1.25em;
}

.home-testimonial {
    font-style: italic;
}

.home-testimonial-author {
    font-weight: 700;
    margin-bottom: 0;
}


/**********************      Services      *********************/

.services-hero-container {
    position: relative;
}

.services-hero-img {
    background-image: url('../../uploads/2019/01/services.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 500px;
    opacity: .6;
}

.services-offered-container {
    margin: 5% 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
}

.services-offered {
    width: 32%;
    background: #fafaf9;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.services-offered-header {
    font-size: 2rem;
    line-height: 1;
    margin-bottom: 40px;
}

.services-details h3 {
    margin: 0;
    font-size: 1.35rem;
    font-weight: 500;
}

.services-list {
    margin-top: 0;
}

.services-list li {
    margin-bottom: 3px;
}


.session-length {
    font-size: 20px;
    border: 1px solid;
    margin: 10px auto;
    width: 85%;
    padding: 5px;
}

.session-length a {
    color: #0a1612;
}

.session-length a:hover {
    opacity: .6;
}

.service-details-container-1, .service-details-container-2 {
    display: flex;
    margin-top: 2%;
    width: 90%;
    /* margin: auto; */
    justify-content: space-between;
}

.service-details-container-1 {
    margin-bottom: 30px;
}

.service-details-container-2 {
    margin: 0 auto 5% auto;
}

.services-details-image-container, .services-details-image-container-2 {
    width: 50%;
}

.services-details-image-container img {
    width: 100%;
}

.services-details-image-container-2 img {
    width: 100%;
    float: right;
}

.service-details-container-2 .services-details {
    margin-left: 5%;
}

.services-subheader {
    line-height: 1;
    margin-bottom: 10px;
    color: #1a2930;
}

.services-details {
    /* width: 50%; */
    display: flex;
    flex-direction: column;
    align-self: center;
}

/**********************      Workshops      *********************/

.workshop-container {
    /* width: 50%; */
    display: flex;
}

.workshop-header {
    margin-top: 4%;
}

.work-shops {
    width: 50%;
}

.workshop-img {
    width: 45%;
    display: flex;
    align-items: center;
    margin-left: 5%;
}

.workshop-img img {
    width: 100%;
}

.workshop-btn-container{
    text-align: center;
    margin-top: 30px;
}

.workshop-btn {
    background-color: #1a2930;
    padding: 10px 20px;
    color: #dddede;
    font-weight: 600;
}

.workshop-btn:hover {
    opacity: .8;
    color: #dddede;
}


/**********************      The Pearl Experience      *********************/

.pearl-hero-img {
    background-image: url('../../uploads/2018/10/pearlHero.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 600px;
    opacity: .6;
    position: relative;
}

.pearl-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}

.pearl-tagline {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 100px;
}

.pearl-question-container {
    margin-bottom: 100px;
}

@media only screen and (max-width: 768px){
    .pearl-question-container, .pearl-tagline {
        margin-bottom: 30px;
    }

    ..pearl-testimonial-container {
        margin: 30px auto;
    }
}

.pearl-questions {
    border-bottom: 1px solid #e4e4e4;
    width: auto;
    display: block;
    clear: both;
    float: left;
    width: auto;
}

.align-right {
    float: right;
}

.pearl-margin-right-sm {
    margin-right: 40px;
}

.pearl-margin-left-sm {
    margin-left: 20px;
}

.pearl-margin-right-md {
    margin-right: 90px;
}

.pearl-margin-left-md {
    margin-left: 60px;
}

.pearl-side-by-side-img-left, .pearl-side-by-side-img-right {
    display: flex;
}

.pearl-img-container {
    width: 100%;
}

.pearl-side-by-side-text-container {
    background-color: #ede1d1;
    text-align: center;
    align-items: center;
    display: flex;
}

.pearl-side-by-side-text {
    font-size: 1.4rem;
    width: 70%;
    margin: auto;
}

.pearl-testimonial-container {
    text-align: center;
    width: 80%;
    margin: 100px auto;
    font-size: 1.25em;
    clear: both;
}

.pearl-button-container {
    display: inline-block;
    padding: 10px;
    background-color: #fd728a;
    color: white;
    margin-top: 15px;
}

.pearl-button a {
    color: white;
}

.rox-email {
    color: #0a1612;
    display: inline-block;
    font-weight: 500;
}

.rox-email:hover {
    opacity: .7;
    color: #0a1612;
}

/**********************      About Us      *********************/

.about-us-hero-img {
    background-image: url('../../uploads/2019/01/aboutHero.jpg');
    background-repeat: no-repeat;
    background-position: unset;
    margin-bottom: 20px;
    height: 400px;
    background-size: cover;
}

.meet-the-founders {
    margin-bottom: 4%;
}

.about-us-divider {
    border-bottom: 1px solid #f2f2f2;
    margin: 5% auto;
    width: 100%;
}

.bio-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4%;
}

.bio-even {
    flex-direction: row-reverse;
}

.bio {
    width: 70%;
}



@media only screen and (max-width: 980px){
    .bio-name {
        /* font-size: 1.4em; */
        text-align: center;
        margin: 10px 0;
    }

    .bio-container {
        flex-direction: column-reverse;
    }

    .bio-even {
        flex-direction: column-reverse;
    }
}
/**********************      Shop      *********************/

.product {
    display: flex;
    margin-top: 50px;
    align-items: center;
}

.product-info h4 {
    margin-bottom: 0;
}

.product-img {
    margin-right: 40px;
    width: 250px;
    height: 400px;
}

.product-title {
    font-size: 2rem;
    margin: 0;
}

.product-author {
    font-size: 1.5rem;
    margin-top: 0;
}

.product-price {
    font-size: 1.5rem;
    margin-bottom: .5rem;
}

.product-description {
    margin-bottom: 30px;
}

@media only screen and (max-width: 768px){
    .product {
        flex-direction: column;
    }

    .product-img {
        margin-bottom: 20px;
    }
}

/**********************      Contact Us      *********************/

.contact-container {
    margin: 3% 0;
    text-align: center;
}

.address-container {
    display: flex;
    margin-bottom: 60px;
    justify-content: center;
}

.address-city {
    margin-bottom: 0;
}

.address {
    margin-right: 5%;
    font-size: larger;
}

.address p {
    margin: 0;
}

.phone, .email {
    font-weight: bold;
    font-size: 20px;
}

.phone a, .email a {
    font-weight: normal;
    color: #0a1612;
}

.phone a:hover, .email a:hover {
    font-weight: normal;
    color: #929292;
}

.form-instructions {
    text-align: center;
}

form {
    width: 70%;
    margin: auto;
}


/**********************      Footer     *********************/

#copyright {
    /* line-height: 1; */
}

#sitefooter {
    padding: 15px 0;
    height: 90px;
}

.aux-sticky-footer #main {
    box-shadow: none;
}

.aux-site-footer {
    width: 100%;
}

.aux-site-footer .aux-end {
    display: block !important;
}
/*
.aux-resp.aux-hd .aux-fold, .aux-resp.aux-hd .aux-fold-width, .aux-resp.aux-hd .aux-boxed-container>.aux-container {
    display: flex;
    justify-content: space-between;
} */

/* .aux-container aux-fold aux-float-wrapper {
    width: 100%;
} */
